.map-container {
  display: flex;
  justify-content: space-between;
}

.sidebar-right {
  width: 50%;
  background-color: red;
  height: 500px;
}

.map {
  height:100vh;
  flex-grow: 2;
}


.geo {
  margin-left: 70px;
}


.points {
  display:block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid rgb(206, 205, 205);
  cursor: pointer; 
  box-shadow: 5px -2px 15px -9px #000000;
}

.card-container {
  height: 50%;
  width: 40%;
  margin: 8% 3% 3%;
  padding: 2%;
  border-radius: 3%;
  border: 2px solid rgb(206, 205, 205);
  flex-grow: 1;

}


.para {
  font-size: 20px;
}

.sub-title {
  font-size: 22px;
}

.city-name {
  font-size: 25px;
}

.search-icon {
  height: 8%;
  width: 8%;
  margin: 0 auto;
}


.element-empty {
  margin: 0 auto;
}