.map-container {
  display: flex;
  justify-content: space-between;
}

.sidebar-right {
  width: 50%;
  background-color: red;
  height: 500px;
}

.map {
  height:100vh;
  flex-grow: 2;
}


.geo {
  margin-left: 70px;
}


.points {
  display:block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid rgb(206, 205, 205);
  cursor: pointer; 
  box-shadow: 5px -2px 15px -9px #000000;
}

.card-container {
  height: 50%;
  margin: 3% 5% 1% 2%;
  padding: 4%;
  border-radius: 3%;
  border: 2px solid rgb(206, 205, 205);
  flex-grow: 1;
  width: 430px;
  min-width:300px;
  display: inline-block;

}


.para {
  font-size: 20px;
}

.sub-title {
  font-size: 22px;
}

.city-name {
  font-size: 25px;
  margin: auto;
}

.search-icon {
  height: 8%;
  width: 8%;
  margin: 0 auto;
}


.element-empty {
  margin: 0 auto;
}

.tabs {
  text-align: center;
}

.btn-tabs {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  font-size: 20px;

  margin: 1% 15% 4% 15%;
}

.save-icon {
  margin-left: 60%;
  margin-right: 5%;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.city-box {
  display: flex;
  align-items: center;
  margin: 1% 1% 1% 1%;
  padding: 0%;
}

.fav-title {
  font-size: 58px;
}

h5 {
  font-size: 25px;
  padding-right: 55%;
}